# Ignore large CSV files
PythonBC/notebook1/*.csv

# env
.env

# Ignore cached files
Section2/GradientD_cache/html/*.rdb

# Ignore compressed files
Section5/*.tar.gz

# Ignore virtual environment and dependencies
RAG/ragenv/
*.dylib

# Ignore all large files (over 50MB)
*.rdb
*.csv
*.tar.gz
*.dylib

